.col-sm-12 col-md-4 {
  background-color: grey;
  margin: 10px;
}
#Entiteiten-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

#info-text-about {
  margin-top: 70px;
  padding: 40px;
  grid-area: text;
  width: 600px;
}
.card-infotext-about-page {
  display: flex;
  padding-top: 70px;
}
.mini-flexBox {
  display: flex;
  flex-direction: column;
}
