<div class="card-infotext-about-page">
  <p id="info-text-about">
    Hello my name is Niek Wijsman I’m 2nd year student at Avans Breda. I want to
    develop an app where student homes can keep track of eating together. In the
    app the user can create an account to join or create his or her household
    with there neighbors. The app lets users create a meal they want to cook on
    a desired date, people in the same household can join there meal and eat
    with them. Also users can create a recipe and add it to the app so other
    users in the same household and other households can view the recipe. The
    recipe can be set to private so only the users household can see his or her
    recipes.
  </p>
  <div class="mini-flexBox">
    <img src="../../assets/images/fotoNiekWijsman.jpg" />
    <a>Name : Niek Wijsman</a>
    <a>Studentnumber: 2157729</a>
  </div>
</div>
<h3 id="Entiteiten-title">Entiteiten</h3>
<div class="row" id="col-1-en">
  <div class="col-sm-12 col-md-4" id="col-1-en">
    <p>User</p>
    <ul>
      <li>name: string</li>
      <li>id: number</li>
      <li>birthdate: date</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>StudentHome</p>
    <ul>
      <li>name: string</li>
      <li>id: number</li>
      <li>adress: string</li>
      <li>postalcode: string</li>
      <li>occupants: users[]</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Meal</p>
    <ul>
      <li>name: string</li>
      <li>id: number</li>
      <li>capacitie: number</li>
      <li>Price: number</li>
      <li>participants: user[]</li>
      <li>cook: user</li>
      <li>date: datetime</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Recipies</p>
    <ul>
      <li>name: string</li>
      <li>id: number</li>
      <li>ingredients: string[]</li>
      <li>steps: string[]</li>
      <li>time: int(in minutes)</li>
      <li>private: boolean</li>
    </ul>
  </div>
</div>
<h3 id="Entiteiten-title">Usecases</h3>
<table
  border="0"
  cellpadding="0"
  cellspacing="0"
  id="sheet0"
  class="sheet0 gridlines"
>
  <col class="col0" />
  <col class="col1" />
  <tbody>
    <tr class="row0">
      <td class="column0 style1 s">uc-1</td>
      <td class="column1 style1 s">user kan zich registreren</td>
    </tr>
    <tr class="row1">
      <td class="column0 style1 s">uc-2</td>
      <td class="column1 style1 s">aanpassen van een user</td>
    </tr>
    <tr class="row2">
      <td class="column0 style1 s">uc-3</td>
      <td class="column1 style1 s">huis toevoegen</td>
    </tr>
    <tr class="row3">
      <td class="column0 style1 s">uc-4</td>
      <td class="column1 style1 s">user aan huis toevoegen</td>
    </tr>
    <tr class="row4">
      <td class="column0 style1 s">uc-5</td>
      <td class="column1 style1 s">recept toevoegen</td>
    </tr>
    <tr class="row5">
      <td class="column0 style1 s">uc-6</td>
      <td class="column1 style1 s">recepten bekijken</td>
    </tr>
    <tr class="row6">
      <td class="column0 style1 s">uc-7</td>
      <td class="column1 style1 s">maaltijd aanmaken</td>
    </tr>
    <tr class="row7">
      <td class="column0 style1 s">uc-8</td>
      <td class="column1 style1 s">maaltijd deelnemen</td>
    </tr>
    <tr class="row8">
      <td class="column0 style1 s">uc-9</td>
      <td class="column1 style1 s">user kan inloggen</td>
    </tr>
    <tr class="row9">
      <td class="column0 style1 s">uc-10</td>
      <td class="column1 style1 s">user kan zich uitloggen</td>
    </tr>
    <tr class="row10">
      <td class="column0 style1 s">uc-11</td>
      <td class="column1 style1 s">
        user kan een overzicht van maaltijden bekijken
      </td>
    </tr>
    <tr class="row11">
      <td class="column0 style1 s">uc-12</td>
      <td class="column1 style1 s">
        user kan een overzicht van huizen bekijken
      </td>
    </tr>
  </tbody>
</table>
