#dashboard-welcome{
    padding-top: 60px;
    color: darkorange;
    font-size: 60px;
    text-align: center;
}
#dashboard-front-image{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



#title-text{
  color: darkorange;
  font-size: 30Spx;
  text-align: center;
  font-weight: bold;
}
#small-info-text-dash{
  text-align: center;
  font-weight: bold;

}
