<h1 id="dashboard-welcome">welkom, eet je mee ?</h1>
<img id="dashboard-front-image"src="../../assets/images/DashboardPicEating.jpg"/>
<div class="welcome-user-text">
    <h1 id="title-text">Welcome to eet-je-mee</h1>
    <p id="small-info-text-dash">
        Welcome to the future, I have developed this amazing app to help you and your household to eat together.<br>
        For more information about this app and myself visit <a id="route-to-about-page" routerLink="/about">about</a> page.
    </p>
</div>